.first-section{
    height: 474px;
    width:100%;
    background-image: url("../images/occasion_image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.first-main-text{
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    /* or 129% */

    display: flex;
    align-items: center;

    color: #000000;
}



@media(max-width:500px){
   
    .tourist_btn{
        width: 230px !important;
        height: 50px !important;
        font-size: 15px !important;
    }
    .first-main-text{
        font-size: 25px !important;
    }

}

.tourist_btn{
    width: 396px;
    height: 64px;
    background: #AFDC2E;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #222222;
    border: 0px;

}
.first-main-text{
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    /* or 129% */

    display: flex;
    align-items: center;

    color: #000000;
}
.ocassion-heading-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
    color: #000000;
}
.ocassion-description-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    /* or 146% */


    color: #000000;
}
.col-lg-6 img{
    width:100%;
    height: 392px;
    object-fit:cover ;
    border-radius: 10px;
}
@media(max-width:500px){
    .ocassion-heading-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        color: #000000;
    }
    .ocassion-description-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        /* or 146% */
    
    
        color: #000000;
    }
    .col-lg-6 img{
        width:100%;
        height: 350px;
        object-fit:cover ;
        border-radius: 10px;
    }
}